.iconsSpace {
  margin-left: 7px;
  margin-right: 7px;
}

.footerImage {
    height: 100px;
    width: 100px;
}

.blockcode {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#002D62;
  color: white;
  text-align: center;
  height: 45px;
}
